<style>
	
	h2 {
		font-weight: bold;
	}
	body {
		font-weight: bold;
		background-color: white;
	}
	
	th, td {
		padding: 15px;
		height: 65px;
		
	}
	
	tr + tr { border-top: 1px solid; }
	
	th.smTbl{
		height: 25px;
	}
	
	td.smTbl{
		height: 25px;
	}
	
	div.relative {
		position: relative;
		padding-top: 25px;
	}
	
	.container {
		width: 70%;
		background-color: #F8F8F8;
		opacity: 0.80;
	}
	
	.container-full {
		width: 100%;
		background-color: #F8F8F8;
		opacity: 0.80;
	}
	
	.smallTbl {
		width: 100%;
		background-color: #F8F8F8;
		opacity: 0.80;
		border-radius: 25px;
	}
	
	.wideTbl {
		width: 50%;
		background-color: #F8F8F8;
		opacity: 0.80;
		border-radius: 25px;
	}
	
	.container-fluid {
		width: 100%;
		background-image: url("../TheCross.jpg");
		background-repeat: repeat-y;
		min-height: 100vh;
	}
	
	.row1 {
		min-height: 100vh;
		padding-top: 175px;
	}
	
	.asterisk_input:after {
	content:" *"; 
	color: #e32;
	position: absolute; 
	margin: 0px 0px 0px -20px; 
	font-size: xx-large; 
	padding: 0 5px 0 0; }
	
</style>